.onward {
  position: absolute;
  left:50%;
  bottom:40px;
  transform: translateX(-50%);

}
section#lead, section#features, section#get-started {
  height:100vh;
  position:relative;
  text-align: center;

  h1 {
    color:$gray-dark;
    font-weight:200;
    font-size:56px;
    @include media-breakpoint-down(md) {
      font-size:42px;
    }
  }
  h2 {
    font-size:28px;
    font-weight:200;
    margin-top:25px;
    color:$gray-light;
    @include media-breakpoint-down(md) {
      font-size:18px;
    }
  }

  .line-numbers .line-numbers-rows {
    border-right-color:$gray-lighter;
    line-height:1.8;
    font-size:12px;
    top:-3px;
  }
  .card {
    width:600px;

    @include media-breakpoint-down(md) {
      width:95%;
    }
  }
  .card-block {
    padding:0;
  }
}
section#lead {
  height:calc(100vh - 100px);
  min-height: 700px;

  > div {
    position:absolute;
    left:50%;
    top:40%;
    transform: translate(-50%, -50%);
    width:90%;
  }
  .card {
    margin-top:40px;
    display:inline-block;
  }
  pre[class*="language-"] {
    margin:0;
    background:transparent;
    font-size:12px;
    line-height:1.8;
    overflow:hidden;

    &.line-numbers {
      padding-left:3.4em;
    }
  }
}
section#features {
  min-height:100vh;
  height:auto;
  background:$gray-lighter;
  padding:100px 0;

  h2 {
    font-weight:500;
  }
  .list-group {
    margin-top:40px;
    display:inline-block;
    width:900px;
    text-align: left;

    @include media-breakpoint-down(md) {
      width:95%;
    }
  }
  .list-group-item {
    padding:3em;
    overflow:hidden;
    @include media-breakpoint-down(md) {
      padding:1em;
    }
  }
  .list-group-item-heading {
    margin:.83em 0;
  }
  .col {
    position:relative;
  }
  .card {
    position:absolute;
    left:0;
    top:-10px;
  }
  .card.left {
    position: absolute;
    left:-2.8em;
    width:100%;
    min-width:100%;
    overflow:hidden;
  }
  p {
    font-size:.8rem;
    color:$gray;
  }
  .favorite-tools  {
    position:static;
    img {
      position:absolute;
      bottom:0;
      right:3em;
      height:100%;
      width:auto;
    }
  }
  pre[class*="language-"] {
    margin:0;
    background:transparent;
    font-size:12px;
    line-height:1.8;
    overflow:hidden;

    &.line-numbers {
      padding-left:3.4em;
    }
  }
}
section#get-started {
  min-height:100vh;
  height:auto;
  background:url('../images/cutlass-logo-shadow-2x.png') center top no-repeat;
  background-size:400px auto;
  padding-top:175px;
  padding-bottom:100px;

  .list-group {
    margin-top:40px;
    text-align: left;
    display: inline-block;
    width:900px;
    h1 {
      text-align:center;
    }
    @include media-breakpoint-down(md) {
      width:95%;
    }
  }
}