main.page {
  padding:40px 0;
}

#content {
  color:$gray;
  font-size:15px;

  section:first-child {
    header h2 {
      margin-top:0;
    }
  }
  a.display-3 {
    position: relative;
    display:inline-block;
    margin-top:.5em;
    &:before {
      content: "#";
      display:block;
      position: absolute;
      left:-23px;
      top:-6px;
      font-size:2rem;
      font-weight:normal;
      opacity:.8;
      color:$brand-primary;
    }
  }
  h2 {
    font-size:3rem;
    color:$gray;
    font-weight:200;
    margin-bottom:1em;
    margin-top:1em;
  }
  h3 {
    font-size:2rem;
    color:$gray;
    margin-bottom:1em;
  }
  h4 {
    font-size:1.5rem;
    color:$gray;
    font-weight:normal;
    margin-bottom:1em;
    margin-top:1em;
  }
  h5 {
    font-size:1.2rem;
    color:$gray;
    font-weight:bold;
    margin-bottom:1em;
  }
}


a {
  color: $brand-primary;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: darken($brand-primary, 15);
  }
}

blockquote {
  display:inline-block;
  position: relative;
  padding-left:15px;
  color:$brand-primary;
  font-style:italic;
  font-weight:bold;
  font-size:1.3rem;
  font-family: $font-family-serif;
}