$padding: 35px 0;
.navbar-brand {
  height:90px;
  line-height:90px;
  font-size:21px;

  img {
    display:inline-block;
    width:auto;
    height:50px;
    margin-right:10px;
  }
}
.navbar.navbar-light {
  border-top:5px solid $brand-primary;
  border-bottom:1px solid $gray-lighter;
  padding:0;

  .navbar-nav {
    @include pull-right();
    .nav-link {
      padding:$padding;
      @include media-breakpoint-down(sm) {
        padding:10px;
        background:$gray-dark;
        color:#fff;
        text-align:center;
      }
    }
    @include media-breakpoint-down(sm) {
      display:block;
      float:none;
      width:100%;
    }
    .nav-item {
      margin:0 15px;
      @include media-breakpoint-down(sm) {
        display:block;
        float:none;
        width:100%;
        margin:0;
      }
    }
  }
}
.toggle {
  @include pull-right();

  height:90px;
  line-height:90px;
}