#sidebar {
  border-right:1px solid $gray-lighter;

  h4 {
    color:$gray;
    margin:5px 0;
    margin-top:2rem;
    padding:7px 0;
    padding-top:0;
    border-bottom:1px dashed rgba(0, 0, 0, 0.1);

    &:first-of-type {
      margin-top:0;
    }
  }
  ul {
    padding:0;
    margin:10px 0;
    list-style:none;
  }
  li, li a {
    font-size:14px;
    text-decoration: none;
  }
}